.Main{
    background: #728C69;
}

.header1{
    margin-left: 510px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Form{
     width: 300px;   
}

.form-group{
    margin-top: 15px;
    padding: 0px 10px;
}

.btn{
    background: #007B5E;
    margin-left: 280px;
    padding: 5px 20px;
}