.header1{
    margin: 30px 0px;
    padding-left: 565px;
}

.needs-validation{
    
    border: solid 2px black;
    width: 440px;
    border-radius: 15px;
    margin: 20px 0px;
    margin-left: 470px;
}

.Main{
    background: #728C69;
}