.Main {
    background: #728C69;
}


/* #heading {
    text-align: center;
    margin-top: 50px;
}

.container {
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
} */