.Main {
    /*background-color: rgb(189, 250, 214);*/
    background: #728C69!important;
}

.left-div {
    background-color: #728C69;
    margin-top: 80px;
    border-radius: 2%;
}

.right-div {
    margin-top: 80px;
}